.directions {
  display: none;
  padding-top: 0;
}

.directions__title {
  margin-bottom: 50px;

  @extend %title-h2;
  text-align: center;
}

.directions__list {
  @extend %flex-justify-center;
}

.directions__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.directions__inner {
  position: absolute;
  @extend %flex-centering;
  height: 70px;
  width: 100%;

  background-color: rgba(47, 48, 58, 0.8);

  transform: translateY(-100%);
}

.directions__desc {
  @extend %title-h3;
  color: $primery-white-color;
}
