.directions {
  display: none;

  @media screen and (min-width: $desktop) {
    display: block;
    padding-top: 0;
  }
}

.directions__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  text-align: center;
}

.directions__list {
  display: flex;
  justify-content: center;
}

.directions__item {
  position: relative;
  background-color: tomato;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.directions__inner {
  position: absolute;
  @extend %flex-centering;
  height: 70px;
  width: 100%;

  background-color: rgba(47, 48, 58, 0.8);

  transform: translateY(-100%);
}

.directions__desc {
  @extend %title-h3;
  color: $primery-white-color;
}
