.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  padding: 10px;

  background-color: rgba(0, 0, 0, 0.1);

  transition: opacity 250ms $our-timing-effect,
    visibility 250ms $our-timing-effect;
}

.backdrop--is-hidden {
  .modal {
    transform: translate(-50%, -50%) scale(0.7);
  }
}

.modal {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  padding: 40px;

  background-color: $primery-white-color;
  border-radius: 4px;

  // transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms $our-timing-effect;

  @media screen and (min-width: $mobile) {
    width: 450px;
    height: auto;
  }
}

.button--close {
  position: absolute;
  top: 8px;
  right: 8px;
  @extend %flex-centering;
  width: 30px;
  height: 30px;

  background-color: $primery-white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill 250ms $our-timing-effect;

  cursor: pointer;

  &:hover {
    fill: $accent-color;
  }
}
