.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.1);

  transition: opacity 250ms $our-timing-effect,
    visibility 250ms $our-timing-effect;

  overflow-y: scroll;

  @media screen and (max-width: $tablet-to) {
    padding: 93px 15px;
  }
}

.backdrop--is-hidden {
  .modal {
    @media screen and (min-width: $mobile) {
      transform: translate(-50%) scale(0.7);
    }

    @media screen and (min-width: $tablet) {
      transform: translate(-50%, -50%) scale(0.7);
    }
  }
}

.modal {
  position: relative;
  padding: 40px;
  max-width: 450px;

  background-color: $primery-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms $our-timing-effect;

  @media screen and (min-width: $mobile) {
    position: absolute;
    left: 50%;
    width: 450px;

    transform: translate(-50%) scale(1);
  }

  @media screen and (min-width: $tablet) {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: $desktop) {
    width: 528px;
  }
}

.button--close {
  position: absolute;
  top: 8px;
  right: 8px;
  @extend %flex-centering;
  width: 30px;
  height: 30px;

  background-color: $primery-white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill 250ms $our-timing-effect;

  cursor: pointer;

  &:hover {
    fill: $accent-color;
  }
}
