.our-team {
  background-color: $secondary-bgc;
}

.our-team__title {
  margin-bottom: 30px;

  @extend %title-h2;
  text-align: center;
}

// .our-team__list {
//   @extend %flex-justify-center;
// }

.our-team__item {
  padding-bottom: 30px;
  // width: 270px;

  text-align: center;

  background-color: $primery-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;

  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
}

.our-team__avatar {
  margin-bottom: 30px;
}

.our-team__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.our-team__profession {
  margin: 0 0 16px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}
