.our-team {
  background-color: $secondary-bgc;
}

.our-team__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  text-align: center;

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
  }
}

// .our-team__list {
//   @extend %flex-justify-center;
// }

.our-team__item {
  margin-bottom: 30px;
  padding-bottom: 30px;
  // width: 270px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;

  background-color: $primery-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;

  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
}

.our-team__avatar {
  margin-bottom: 30px;
}

.our-team__name {
  margin-bottom: 10px;
  font-weight: 500;
}

.our-team__profession {
  margin-bottom: 16px;
  color: $secondary-text-color;
}
