// .reg-custom {
//   padding-top: 78px;
// }
.reg-custom__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  text-align: center;

  @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: 1.17;
  }
}

.reg-custom__list {
  @extend %flex-justify-center;
  flex-wrap: wrap;
  margin: -15px;
}

.reg-custom__item {
  margin: 15px;
  width: 210px;
  height: 92px;
}

.reg-custom__link {
  @extend %flex-centering;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;

  fill: $icon-bgc;

  border: 1px solid $icon-bgc;
  border-radius: 4px;

  transition: fill 250ms $our-timing-effect, border 250ms $our-timing-effect;

  &:hover,
  &:focus {
    fill: $accent-color;
    border: 1px solid $accent-color;
  }
}
