.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  @extend %flex-align-center;
}

.page-header__button {
  margin-left: auto;
  background-color: transparent;
  fill: $primary-text-color;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

// .page-header__logo {
//   margin-right: 93px;
// }

// .page-header__header-contacts {
//   margin-left: auto;
// }
