.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;

  @media screen and (max-width: $tablet-to) {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.page-header__button {
  margin-left: auto;
  background-color: transparent;
  fill: $primary-text-color;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  & .button__icon-cross {
    display: none;
  }

  &.is-open .button__icon-cross {
    display: block;
  }

  &.is-open .button__icon-menu {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.page-header__header-contacts {
  margin-left: auto;
}
