%flex-align-center {
  display: flex;
  align-items: center;
}

%flex-justify-center {
  display: flex;
  justify-content: center;
}

%flex-centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

// %header-font-styles {
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
// }

%header-pseudo-elements {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: $accent-color;
}

%button-primary {
  min-width: 200px;
  height: 50px;

  font-family: $primary-font-family;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.75;
  color: $primery-white-color;

  background-color: $accent-color;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
}

%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

%title-h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}

%title-h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

%text-primary {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

%footer-contacts-styles {
  display: inline-block;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

%subscription-font-styles {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
