.footer-contacts {
  @media screen and (max-width: $desktop-to) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 165px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 70px;
  }
}

.footer-contacts__address {
  margin-bottom: 8px;

  @extend %text-primary;
  font-style: normal;
  color: $primery-white-color;

  @media screen and (min-width: $desktop) {
    margin-bottom: 9px;
  }
}

.footer-contacts__mail {
  margin-bottom: 8px;

  @extend %footer-contacts-styles;
  @extend %text-primary;
  transition: color 250ms $our-timing-effect;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 9px;
  }
}

.footer-contacts__tel {
  @extend %footer-contacts-styles;
  @extend %text-primary;
  transition: color 250ms $our-timing-effect;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
