.footer-contacts__address {
  margin-bottom: 9px;

  font-style: normal;
  @extend %text-primary;
  color: $primery-white-color;
}

.footer-contacts__mail {
  margin-bottom: 9px;
  @extend %footer-contacts-styles;
  @extend %text-primary;
  transition: color 250ms $our-timing-effect;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-contacts__tel {
  @extend %footer-contacts-styles;
  @extend %text-primary;
  transition: color 250ms $our-timing-effect;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
