// .joinus {
//   max-width: 206px;
// }

.joinus__title {
  margin-bottom: 20px;

  @extend %title-h3;
  color: $primery-white-color;
}

.socials__link--changecolor {
  fill: $primery-white-color;
  background-color: rgba(255, 255, 255, 0.1);
}
